[2016-04-06 08:43] akserg opened #1 "The Bar becomes to be invisible after first complete"

[2016-04-06 08:44] akserg commented on #1
Fixed in release 1.0.2

[2016-04-06 08:44] #1 closed

[2016-04-06 08:56] akserg opened #2 "The loading bar still invisible after set the progress value"

[2016-04-06 08:59] akserg opened #3 "Update to manage multiple loading bars"

[2016-04-06 09:24] akserg commented on #2
Fixed in 1.0.3

[2016-04-06 09:24] #2 closed

[2016-05-03 16:24] akserg opened #4 "Type problem in service.ts"
Exception in Chrome:
`Type 'Observable<{}>' is not assignable to type 'Observable<SlimLoadingBarEvent>'.`

[2016-05-03 17:20] akserg commented on #4
Fixed in v 1.2.1

[2016-05-03 17:20] #4 closed

[2016-05-26 11:18] Petitt88 opened #5 "Bundle not working with angular-rc.1"
Is this supposed to work with angular-rc.1? I can't get it to work despite the docs.

I'm trying to use the `bundles/ng2-slim-loading-bar.min.js`file which I managed to get loaded with systemjs, however this file still has dependencies from the angular-beta version `"angular2/core", "angular2/src/facade/lang", "angular2/common"`.

[2016-05-26 12:04] akserg commented on #5
Sorry, my bad.

I forget cleaned the **node_modules** folder as the result it keeps the new and old **angular** 2 folders. That was messy.

Fixed in v **1.2.3**.

[2016-05-26 13:59] Petitt88 commented on #5
Thank you, now it works!

[2016-05-26 13:59] #5 closed

[2016-07-13 03:16] efriandika opened #6 "It does not work in Angular 2 RC.4"
Hy..

Your component is amazing. But, it does not work with the latest release of angular 2 (RC4)

[2016-07-24 23:27] rpaschoal commented on #6
+1

[2016-07-25 07:34] akserg commented on #6
Fixed in 1.2.4

[2016-07-25 07:34] #6 closed

[2016-07-31 18:17] akserg opened #7 "package should not have angular as dependency (but devDependency)"

[2016-07-31 18:32] akserg commented on #7
Implemented in 1.3.0

[2016-07-31 18:32] #7 closed

[2016-08-03 13:57] janfriedli opened #8 "Can't resolve all parameters for SlimLoadingBar"
Hi I get the following error:

[code]

I'm using the angular cli and RC4.

My appComponent looks like this:

[code]

The template like this:
[code]

and the main.ts:

[code]

Any idea what might be wrong?

[2016-08-09 04:42] josepoma opened #9 "How to implement with angular-cli?"
**Mi system-config.ts:**

const packages: any = {
  "ng2-slim-loading-bar": {
    "defaultExtension": "js"
  }
};

const cliSystemConfigPackages: any = {};
barrels.forEach((barrelName: string) => {
  cliSystemConfigPackages[barrelName] = { main: 'index' };
});

System.config({
  map: {
    '@angular': 'vendor/@angular',
    'rxjs': 'vendor/rxjs',
    'main': 'main.js',
    '@vaadin': 'vendor/@vaad

[2016-08-09 19:46] akserg opened #11 "Update to be a strict module"

[2016-08-10 15:36] akserg commented on #11
Fixed in 1.4.0

[2016-08-10 15:36] #11 closed

[2016-08-10 15:42] akserg commented on #9
Hi @josepoma
I have updated the project. Please look at README. The working configuration for you case must look like that:
System.config({
    map: {
        'ng2-slim-loading-bar': 'node_modules/ng2-slim-loading-bar'
    },
    packages: {
        'ng2-slim-loading-bar':  { main: 'index.js',  defaultExtension: 'js' },
    }
});

[2016-08-15 19:09] kb3eua opened #12 "WebPack Warnings"
I'm getting warnings using this with WebPack.  Seems to be complaining that no *.ts files exist in the package:

[code]

[2016-08-16 17:19] akserg commented on #12
Thanks.
I will have a look.

[2016-08-16 20:18] kb3eua commented on #12
@akserg I was able to find a workaround by excluding it from the source-map loader.  It looks like the ".map" files in the package have references to the *.ts source files, which of course can't be found.
[code]

[2016-08-17 14:26] Neill83 commented on #8
Hi, I'm using angular2 rc5 and it works fine. Maybe try the following things:

1. remove the import for SlimLoadingBarService in main.ts
2. add `providers: [SlimLoadingBarService]` to your appComponent
3. i think its called SlimLoadingBarComponent and not SlimLoadingBar, maybe rename it
4. try it now

For me it works fine.

Regards

[2016-08-17 14:29] Neill83 commented on #9
I had the same problem. In your angular-cli-build.js you have to add the following line to `vendorNpmFiles`.

it would look like:

[code]

[2016-08-18 17:24] akserg commented on #12
Hi @kb3eua
Thank you for help. Fix available in 1.4.1

[2016-08-18 17:24] #12 closed

[2016-08-18 17:27] akserg commented on #9
Hi @josepoma
Can I close this issue?

[2016-08-18 17:29] akserg commented on #8
Hi @janfriedli
Did you try what @Neill83 suggested? Did it help?

[2016-08-19 15:16] janfriedli commented on #8
Hi @akserg

I'm on holidays right now but I'll try it as soon as I'm back home.

[2016-08-24 05:17] #9 closed

[2016-08-28 12:54] akserg commented on #8
I'm closing this one. If the issue still exists - open another one.

[2016-08-28 12:54] #8 closed

[2016-08-29 09:11] SerkanDayicik opened #13 "New Angular2 RC5 Transition Bug"
New RC5 Router with added but transition not effect this way construct

`export class AppComponent implements OnInit, OnDestroy {
	private sub: Subscription;

constructor(private slimLoader: SlimLoadingBarService, private router: Router) {}

	ngOnInit() {
		this.runSlimLoader();
       this.sub = this.router.events.subscribe(events => {
            this.runSlimLoader();
        }, (error: any) =>

[2016-08-29 09:25] SerkanDayicik commented on #13
This problem solved missing css

.slim-loading-bar {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}

/* Styling for the Slim Loading Progress Bar itself */
.slim-loading-bar-progress {
    margin: 0;
    padding: 0;
    z-index: 99998;
    background-color: green;
    color: green;
    box-shadow: 0 0 10px 0; /* Inherits the font co

[2016-08-29 09:25] #13 closed

[2016-09-01 16:57] andyrue opened #14 "Set default values on component"
I'd like to be able to set the color and height on the component selector like this:

    <ng2-slim-loading-bar [color]='color' [height]='height'>

`color` and `height` being string variables set in my app component constructor. I see `@Inputs` in the component for those variables so I thought I could do something like that, but it doesn't work. If I set anything like that on the selector nothing

[2016-09-01 19:25] akserg commented on #14
I have created [plunker](https://plnkr.co/OykV39) for you to prove all work as expected.

[2016-09-01 19:25] #14 closed

[2016-09-01 21:07] andyrue commented on #14
Thanks! I see I was using single quotes instead of double quotes. Thanks for your guidance!

[2016-09-13 07:00] michael34 opened #15 "Question: Usage with @angular/http"
Hi,

thank you this component. How would I use it with @angular/http.
In angular 1 I use this: https://chieffancypants.github.io/angular-loading-bar/

[2016-09-15 20:07] BenDevelopment opened #16 "Cannot assign SlimLoadingBarComponent to directives"
When I try to set up ng2-slim-loading-bar, I got an error in this line :
`directives: [SlimLoadingBarComponent],`
The error is :
`The argument of type "{guidelines: typeof SlimLoadingBar Component [];}" is not attributable to the type of parameter 'ComponentMetadataType'.`
I'm using angular2 rc6. What am I doing wrong ?

[2016-09-16 09:27] akserg commented on #16
Hi @BenDevelopment,

I migrate the Slim Loading Bar to Angular 2.0.0. May I ask you to try it.
Please follow the instructions I updated in [Usage](https://github.com/akserg/ng2-slim-loading-bar#usage) section of README.

Let me know if doesn't work.

[2016-09-16 09:28] wojciechpolak opened #17 "Source maps are missing (v2.0.0)"
Hi, when doing a production build with systemjs-builder:

[code]

`/jspm_packages/npm/ng2-slim-loading-bar@2.0.0/index.js` contains `//# sourceMappingURL=index.js.map` at the end of the file.

[2016-09-16 09:52] BenDevelopment commented on #16
Thant you @akserg for your answer.
I have followed the instructions, but I still have a problem:
`(index):30 Error: Error: Unexpected value 'SlimLoadingBarService' exported by the module 'SlimLoadingBarModule'(…)`

[2016-09-16 10:40] akserg commented on #16
Do you use Angular 2.0.0 or Angular 2.0.0-RC6?

[2016-09-16 10:42] BenDevelopment commented on #16
2.0.0 (I have downgraded since my first post)

[2016-09-16 10:43] akserg commented on #16
Do you mean 2.0.0 release?

[2016-09-16 10:45] BenDevelopment commented on #16
Yes.
Here is my package.json, maybe it can help:
[code]

[2016-09-16 10:46] akserg commented on #16
Sorry, I'm asking because you send downgraded from RC6. I assume you upgraded. By the way - any source code (may be small portion)?

[2016-09-16 10:55] BenDevelopment commented on #16
Yes sorry I get mixed up. ^^

Here are some files:
systemjs.config.js:
[code]

app.module.ts:
[code]
app.component.ts:
[code]
app.component.html:
[code]
I added style.css in my index.html's head:
`        <link rel="stylesheet" href="node_modules/ng2-slim-loading-bar/style.css">`

[2016-09-16 10:57] akserg commented on #16
Ok, let me see.

[2016-09-16 12:07] Gustorn opened #18 "SlimLoadingBarModule incorrectly exports SlimLoadingBarService"
The service export present in the NgModule breaks Angular's module imports:

[code]

Services should only be `provided`, not` exported`. For reference see the [Angular 2 Modules FAQ](https://angular.io/docs/ts/latest/cookbook/ngmodule-faq.html#!#q-what-to-export).

This leads to the following error:
[code]

As a temporary workaround, we can use declarations and providers instead of the module impo

[2016-09-18 12:52] akserg commented on #18
Fixed in 2.0.1

[2016-09-18 12:52] #18 closed

[2016-09-18 12:55] akserg commented on #17
Fixed in 2.0.1

[2016-09-18 12:55] #17 closed

[2016-09-18 12:56] akserg commented on #16
Fixed in 2.0.1. Check README for updated docs how to use.

[2016-09-18 12:56] #16 closed

[2016-09-18 13:00] akserg commented on #15
I plan to make small changes to support it out of the box.

[2016-09-18 13:48] BenDevelopment opened #19 "Template properties errors"
Thank you @akserg  for your updates (2.0.1)!
I'm testing and I'have find some bugs.
When I try to change the loading bar properties in the template with this code:
`<ng2-slim-loading-bar [color]="blue" [height]="4px"></ng2-slim-loading-bar>`
I have an error concerning [height]:

If I try to remove [height]="4px", it works but the bar is green instead of blue.

And another problem:
`this.slimLoadin

[2016-09-19 10:46] Gustorn opened #20 "moduleId crashes WebPack builds"
The `moduleId` added in ae237f0 crashes WebPack builds with the following error message:

[code]

While this is a known bug in the angular compiler (angular/angular#10626), it's still something worth noting I think.

[2016-09-19 15:43] akserg commented on #20
Will `module.id.toString()` enought to fix your problem?

[2016-09-19 15:54] akserg commented on #20
Please use 2.0.2 to confirm that the issue was fixed.

[2016-09-20 10:29] clementbrunel commented on #20
Works with webpack 2.1.0-beta.21 and ng2-slim-loading-bar 2.0.2.
Thanks you :)

[2016-09-20 11:39] #20 closed

[2016-09-20 11:39] #19 closed

[2016-09-23 12:24] niyazhussain commented on #15
@akserg can you provide hint on how to make this working , i will fork and do . :)

[2016-09-27 10:39] JohannesRudolph opened #21 "Do not exclude .ts files in npm package or fix sourcemaps"
Excluding the `.ts` (_not_ `d.ts`) files from the npm package appears to create problems for builds because the sourcemaps included with the package refer to them.

Can you either include ts source files or change the generated sourcemaps? I think including the `.ts` source doesn't do too much harm as the project is fairly small, angular itself however chose to use smaller (i.e. useless) sourcemap

[2016-09-29 08:57] phoenix3008 opened #22 "Complete callback passed to start method doesn't work"
When using this construction:

[code]

the complete callback is not called, it seems that you did not implemented it in your source code

[code]

[2016-09-29 09:45] niyazhussain commented on #22
This is not done yet , i too had the same problem. But in my case i dont want to do anything after that , perhaps you can include an EventEmitter in his code.

[2016-10-02 17:51] akserg commented on #22
Thanks all
I think it would be better to return the Promise as a result of this file. Will fix it soon.

[2016-10-02 17:58] akserg commented on #21
Hi @JohannesRudolph
Thank you for the issue. I will have a look.

[2016-10-10 08:23] vsanat opened #23 "npm package donesn't include index file"
hi Guys,
After doing npm import, I checked the folders, but I couldn't index file that means no -> index.ts or index.d.ts or no index.js file?? can you please tell me what is the problem?

Error: Error: XHR error (404 Not Found) loading http://localhost:8000/node_modules/ng2-slim-loading-bar/index.js(…)

[2016-10-10 10:15] akserg commented on #23
Hi @vsanat
Here is the screenshot of my environment:
![screenshort](https://cloud.githubusercontent.com/assets/1400409/19232963/fa89aeaa-8ee2-11e6-905d-0d60b090fff2.png)
Did you follow the [installation and usage instructions](https://github.com/akserg/ng2-slim-loading-bar#installation)?

[2016-10-14 16:42] dhardtke opened #24 "Can't use it with AoT compilation"
Hey,

Your package seems to not be AoT compatible:

`Function calls are not supported. Consider replacing the function or lambda with a reference to an exported function`.

I don't know why it happens but I do know it has to do with the definition of the `.forRoot()` method.

[2016-10-17 07:34] vsanat commented on #23
hey, thanks for the reply. I got those files after updating to newer version.

[2016-10-17 09:37] akserg commented on #23
Cool.

[2016-10-17 09:37] #23 closed

[2016-10-18 11:51] akserg commented on #24
Hi @dhardtke
I'm busy with your issue.

[2016-10-19 15:28] JohannesRudolph commented on #15
@akserg any news on this? let me know if we can contribute any help on this.

[2016-10-20 07:44] michael34 commented on #15
I use this decorator. It's bad code but it works for now. Feel free to use/modify it for your needs.
`
var WithLoadingIndicator = function (timeout = 250) {
    return function (target: any, propertyKey: string, descriptor: PropertyDescriptor) {
        let originalMethod = descriptor.value; // save a reference to the original method

        // NOTE: Do not use arrow syntax here. Use a function e

[2016-10-27 02:00] scarmarco commented on #24
Same for me!

[2016-10-28 03:01] a5hik commented on #24
Same issue here.

[2016-10-28 11:14] lukaszczernal commented on #21
I experience similar issue. Either `index.ts` is missing in the root folder or `index.js.map` should be removed.

[2016-11-08 15:20] eolcum opened #25 "Error: (index):40 Error: (SystemJS) Cannot read property 'toString' of undefined(…)"
I can use Module in DEV environment, but after I minimize it with "browserify -s main dist/app/main.js > dist/bundle.js" command, I get the error "(index):40 Error: (SystemJS) Cannot read property 'toString' of undefined(…)" on my PROD env.

It happens after I include the module:
`SlimLoadingBarModule.forRoot()`

[2016-11-09 10:36] shammelburg commented on #15
This will be a good implementation

[2016-11-15 03:38] zk1169 commented on #24
Same issue

[2016-11-20 12:32] javist7 commented on #24
Same issue

[2016-11-23 06:37] ASHFAQPATWARI commented on #15
@akserg Any milestone for this? Would be a great plugin if it can work like:  [automatic loading bar]( https://chieffancypants.github.io/angular-loading-bar/)

[2016-11-29 22:09] HartHerbert commented on #24
Somebody got a solution for this ?

[2016-12-01 08:54] thanhnhan2tn commented on #24
I have the same issue on used with IONIC 2rc0, Somebody got a solution for this ?

[2016-12-01 09:14] HartHerbert commented on #24
not yet.
And the owner of this hasn't replied yet.
I've built my own progress bar with the HTML5 <progress> Tag and SCSS style and it's working fine by now. It looks like this one and works very similar, so it's fine for me.

[2016-12-03 17:26] jskrzypek commented on #24
@HartHerbert actually it looks like the owner @akserg is working on this on the [aot branch](https://github.com/akserg/ng2-slim-loading-bar/tree/aot), but the fix hasn't been finished/published yet.

I forked the branch and made some headway on fixing the remaining bugs and I think it's more or less working. You can test it by doing an `npm install jskrzypek/ng2-slim-loading-bar#aot` and then tryi

[2016-12-05 05:03] kunaldodiya opened #26 "Can not start loading bar with router link"
working great with function like goToPage(){
this.slimLoadingBarService.start();
}

but what if Someone want to navigate to some page and show indicator ?? here i want to use [routerLink]="['test']" and also want to start loading bar

[2016-12-05 06:05] akserg commented on #25
Hi @eolcum,

Please try 2.0.5 and confirm that you issue was fixed.

[2016-12-05 06:06] akserg commented on #24
Hi all,

Please try 2.0.5 and confirm that you issue was fixed.

Big thanks to @jskrzypek.

[2016-12-05 06:13] akserg commented on #21
Hi @JohannesRudolph

Please try 2.0.5 and confirm that you issue was fixed.

[2016-12-05 13:16] javist7 commented on #24
Issue was fixed.

[2016-12-05 13:21] javist7 commented on #15
What if we write custom http client and start loading bar there (for every get,post,put, delete requests). Left to invent where finish loading bar.

[2016-12-05 19:12] nlko opened #28 "Trouble when switching to 2.0.5 from 2.0.4"
Hello,

**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

My angular2 project is using ng2-slim-loading-bar and as such it is referenced in package.json and systemjs config file and other ts files.

I tried to upgrade from 2.0.4 to 2.0.5 (using npm) and I had some issues in firefox and chrome (see below).
I've no need for switching to 2.0.5 for now so I'll stay to 2.0.4

[2016-12-06 11:10] javist7 commented on #15
Anyone have any ideas how to do it? I can do it, but i don't know where to start :(

[2016-12-06 11:22] aitboudad commented on #15
I already implemented, you just need to override the `Http` service, I'll publish it next week!

[2016-12-07 13:23] schtrym opened #29 "Expression has changed after it was checked. Previous value: '0'. Current value: '1'."
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
Exception raised : zone.js:140 Uncaught Error: Error in ./SlimLoadingBarComponent class SlimLoadingBarComponent - inline template:3:32 caused by: Expression has changed after it was checked. Previous value: '0'. Current value: '1'.

**Expected/desired behavior**

**Reproduction of the problem**
If the current behavior is a

[2016-12-12 07:42] dalibor983 opened #30 "Angular version is locked to 2.1.2"
In package.json file angular version is locked to 2.1.2.

Does this library working only with angular 2.1.2?

Current angular version is 2.3.0. I got may warnings and red text in console that complains at angular version in this package.

Can we get slim loader with higher angular version in package.json?

[2016-12-13 09:06] javist7 commented on #15
Where you publish ?

[2016-12-13 09:38] vchuquimia commented on #28
having the same issue, any news ?

[2016-12-13 13:37] aitboudad commented on #15
see https://github.com/aitboudad/ng-loading-bar

[2016-12-13 16:18] shammelburg commented on #15
@aitboudad Very nice, just added and it work perfectly. It'll be nice to added some properties to the component for colour and height.

Good work!!

[2016-12-13 16:21] aitboudad commented on #15
ok can you create a new issue ?
in the meantime you can use your own css based on https://github.com/aitboudad/ng-loading-bar/blob/master/loading-bar.css

[2016-12-13 20:24] Sevensnake opened #31 "ng2-slim-loading-bar/ 403 (Forbidden)"
Not sure why I get this error. I am using the systemJs.config
  paths: {
      // paths serve as alias
        'npm:': 'node_modules/',`   'ng2-slim-loading-bar': 'npm:ng2-slim-loading-bar',`

`  'ng2-slim-loading-bar': {
             defaultExtension: 'js'
        },`

[2016-12-20 15:57] benjaminbhm opened #32 "Version 2.0.5"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
It makes some Tests fail for unknown Reason, here are some outputs of failing tests:

[code]
**Expected/desired behavior**
Those Test should not fail. It worked perfectly fine with the version 2.0.4, which we are currently using for a temporary fix

**Reproduction of the problem**
If the current behavior is a bug or you ca

[2016-12-20 18:47] john-landgrave commented on #30
@akserg I'm encountering this same issue. I'd love to use your project, but I guess I'm going to fork it and change the dependencies for now and see what happens.

[2016-12-20 19:01] john-landgrave commented on #30
Submitted a PR @akserg, can you merge it when you get a chance?

[2016-12-22 17:35] akserg commented on #32
Hi @benjaminbhm,
Can you, please copy the full test file because I can't see the initialisation of your tests.

[2016-12-22 17:37] akserg commented on #30
Thank you, @john-landgrave.
I have updated the project and published it on NPM with minor changes.

[2016-12-22 17:37] #30 closed

[2016-12-22 17:50] akserg commented on #28
Hi @nlko and @vchuquimia,

Try to update your config file such that:
[code]

Let me know if it fixes your issue?

[2016-12-22 17:51] #24 closed

[2016-12-22 17:51] #21 closed

[2016-12-22 17:52] #25 closed

[2016-12-22 17:53] akserg commented on #25
Please open the new issue if the problem still exists.

[2016-12-22 18:53] akserg commented on #31
Did you change the systemjs.config.js to point to the Angular's umd.js file instead of the index.js?

[2016-12-26 10:30] cacogr commented on #28
I also get an error using v2.0.5 (2.0.7 too) and angular-cli last version (beta.24). It was working fine with v2.0.4 and angular-cli beta.22-1 which was the last version that allowed non-AoT compatible libraries.

Inspecting the `index.d.ts` file in the npm package I see a lambda in the providers, which is not allowed in AoT (see https://github.com/rangle/angular-2-aot-sandbox#func-in-providers-us

[2016-12-26 21:39] akserg commented on #28
Hi @cacogr
Can you please delete node_modules and reinstall them again via the `npm install` command. After that please try to run server.

[2016-12-30 11:50] fmorriso opened #34 "Incorrect slim bar link highlight/underline when using browser back button"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
1. Visit each link in the loading bar by clicking on them.  The order does not matter.
2. Begin clicking the browser's back button.
3. ***ERROR: the previously highlighted/underlined link remains underlined and the new page's corresponding link is not highlighted/underlined.

**Expected/desired behavior**
As the address ba

[2017-01-02 16:33] Kjir commented on #32
Here is an example test that will fail with version `2.0.5` and `2.0.7` (I assume `2.0.6` as well), but will work correctly with version `2.0.4`:

[code]

[2017-01-08 15:14] finleysg commented on #15
Another option is to simply centralize your http calls into a single data service. I've done something like this;

    private getRequest(url: string, data?: any): Observable<any> {
        let options = this.createOptions();
        let params = new URLSearchParams();
        if (data) {
            for (let key in data) {
                params.set(key, data[key]);
            }
            opti

[2017-01-20 00:08] Sobiru opened #36 "Right to left support"
Is there an option to programatically make loading bar fill from right to left? I know it's possible to tamper with the css to change the direction but I was thinking if it was possible to do that dynamically and through the code.

[2017-01-25 10:50] thekalinga commented on #15
@finleysg Problem with your implementation is, currently loading bar completes automatically if the request take a long time, lets say 2 mins

Try this in the demo

[2017-01-25 13:01] finleysg commented on #15
@thekalinga you're exactly right, but I'm willing to live with that for now. It's on my punch list to fix that, but not a priority.

[2017-02-08 11:18] oztek22 opened #37 "How to change the speed of progressbar?"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
Couldn't find setting to modify speed.

**Expected/desired behavior**
feature which allow me to change the speed of progressbar

**Please tell us about your environment:**

* **ng2-slim-loading-bar version:** 2.3.0

* **Angular version:** 2.4.0

* **Browser:** [all | Chrome XX | Firefox XX | IE XX | Safari XX | Mobile Chro

[2017-02-12 23:48] thecritic opened #38 "Update to work in Angular 2.4.7. Error: No provider for EventEmitter!"
**I'm submitting a ...**
[code]

**Current behavior**
Not working due to error `No provider for EventEmitter!`
Probably related to #32

**Expected/desired behavior**
Should be working in angular2 v 2.4.7

* **ng2-slim-loading-bar version:** 2.X.X, 2.2.0

* **Angular version:** 2.4.7

* **Browser:** all

* **Language:** TypeScript

[2017-02-14 18:05] akserg commented on #38
Fixed in 2.4.0

[2017-02-14 18:05] #38 closed

[2017-02-14 18:06] akserg commented on #32
Fixed in 2.4.0

[2017-02-14 18:06] #32 closed

[2017-02-15 13:38] akserg commented on #34
Hi @fmorriso,

There is the problem in the demo project. Why did you create the issue in this one?

[2017-02-15 13:38] #31 closed

[2017-02-15 13:40] akserg commented on #29
Hi @schtrym,

It the issue still exists?

[2017-02-15 16:52] mjhugo commented on #37
you can set the interval, e.g.

[code]

[2017-02-20 09:39] schtrym commented on #29
I added

[code]

to avoid the error

[2017-02-23 18:45] fmorriso commented on #34
Brain fart on my part. Closing.

[2017-02-23 18:45] #34 closed

[2017-02-23 18:53] akserg commented on #37
Hi @oztek22

Are you happy with solution @mjhugo mentioned above?

[2017-02-24 12:58] akserg commented on #36
Hi @Sobiru,

I will implement it.

[2017-02-24 13:04] akserg commented on #29
Can you, please create the PR?

[2017-03-01 19:09] Richie765 opened #39 "Question about AoT"
Thanks for sharing these great ng2 components. Forgive me if this is a silly question. I'm still learning Angular which sometimes gives me a hard time.

When I look in `src/slim-loading-bar.component.js` I can see the template HTML code in there. I can also find it in `bundles/index.umd.js` as well as in my end product (built with `ng built --prod --aot`).

I think that means that `ngc` didn't com

[2017-03-02 02:18] Richie765 commented on #39
After investigating more, this seems to be an issue with Angular. It doesn't strip the Metadata even-though it's no longer needed. So it's not an issue with your package.

[2017-03-02 05:55] akserg commented on #39
Hi @Richie765
Interesting points. I will have a look.

[2017-03-02 06:14] oztek22 commented on #37
@mjhugo thanks and @akserg yes I'm happy with the solution. So, I'm closing my question.

[2017-03-02 06:14] #37 closed

[2017-03-02 06:40] akserg commented on #37
Ok.

[2017-03-03 14:56] usmanatron commented on #29
@schtrym can you please give a bit more context regarding where you put this?
I'm happy to make the changes and send a PR (this is causing me loads of problems!) if you're happy for me to do so?

[2017-03-08 00:03] akserg commented on #29
Hi @schtrym
I have created [PR](https://github.com/akserg/ng2-slim-loading-bar/pull/40) to fix your issue. Can you, please have a look?

[2017-03-14 09:16] artstalker opened #41 "Make interval configurable"
Hi,

We have super fast app which still requires slim loading bar. We use this tool, but the requests are finished much faster than slim loading bar shows it.

It happens because there is
`public interval:number = 500; // in milliseconds`
in your code.

Can you please make this parameter configurable? I would like to set 100 milliseconds.

[2017-03-15 16:53] akserg commented on #41
Hi,

Check the solution in that answer: https://github.com/akserg/ng2-slim-loading-bar/issues/37

[2017-03-15 18:01] #39 closed

[2017-03-28 02:45] AmirAliSobhGol opened #43 "Angular 4 support"
**I'm submitting a ...**  (check one with "x")
[code]
the package seems to be working fine with angular 4, had no issues, if you could just update the dependencies that would be gr8.

[2017-03-29 21:23] AmirAliSobhGol opened #44 "Both ways support"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
currently, the slim loading bar goes from left to right

**Expected/desired behavior**
it would be great if it could start in the middle then go both ways like LinkedIn

[2017-04-04 11:53] akserg commented on #43
Hi @AmirAliSobhGol

I have published the release 4.0.0 on npmjs.com. Please let me know does it work for you?

[2017-04-15 12:13] eolcum commented on #3
Does anybody have a development plan on this enhancement?

[2017-04-18 05:47] Simon-Briggs commented on #43
Hi, Not OP, but I've been using 4.0.0 for the past 2 weeks with no problems! Thanks.

[2017-04-18 15:57] #43 closed

[2017-05-09 14:28] theo4u commented on #22
gotten a way around it, subscribed to the`this._loadingBar.events.subscribe(item => console.log(item));` then if it is of **progress** we can check the percentage and then check if it is 100% or not

[2017-06-01 14:53] SlimDogs opened #48 "ExpressionChangedAfterItHasBeenCheckedError: Expression has changed after it was checked. Previous value: '0%'. Current value: '15%'."
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
Loading bar is triggered and everything is pretty nice, except the fact I'm getting this exception in the console:
`SlimLoadingBarComponent.html:3 ERROR Error: ExpressionChangedAfterItHasBeenCheckedError: Expression has changed after it was checked. Previous value: '0%'. Current value: '15%'.
    at viewDebugError (core.es

[2017-06-12 07:32] susonwaiba opened #49 "Angular 4 - Cannot read property 'Injectable' of undefined"
`VM7584:237 Uncaught TypeError: Cannot read property 'Injectable' of undefined
    at eval (eval at webpackJsonp.18.module.exports (addScript.js:9), <anonymous>:237:74)
    at Object.module.exports (eval at webpackJsonp.18.module.exports (addScript.js:9), <anonymous>:241:2)
    at __webpack_require__ (eval at webpackJsonp.18.module.exports (addScript.js:9), <anonymous>:30:30)
    at Object.__webpa

[2017-06-12 10:08] akserg commented on #48
Hi @SlimDogs ,

Can you share a bit more information about your environment like webpack/systemjs, code snippets etc?

[2017-06-15 11:12] altschuler commented on #49
Are you sure that this is related to `ng2-slim-loading-bar`?

[2017-06-15 11:16] susonwaiba commented on #49
Sorry, My bad. there was error while adding index.umd.js file according to doc. But even without index.umd.js file it works fine.

[2017-06-15 11:16] #49 closed

[2017-06-21 00:41] slavafomin opened #50 "Make animation smoother / customize animation"
Hello!

Thank you for this great module!

However, the animation by default is very discreet. Is it possible to make it smoother? This will better reflect our branding.

I hasn't been able to find anything related to animation customization in the README.

Thanks!

[2017-06-21 02:00] slavafomin commented on #50
Also, when loading bar is used for some very quick actions (like quick HTTP requests) it flashes very fast, but we would like to make it more "inert", so it will be on screen for at least a second even for quick actions to visually indicate it's presence. In other words we would like to have very customized animation. Is it possible?

[2017-06-21 05:10] rrohitesh opened #51 "Making REST call twice."
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
I am using this library and i found that the rest calls are getting called twice or some time more. For conformation i disabled this library and found that now only one call is happening.

**Expected/desired behavior**

**Reproduction of the problem**
If the current behavior is a bug or you can illustrate your feature requ

[2017-06-21 14:31] rrohitesh opened #52 "How to laod this with every Rest call"
Hello,

Can you please provide information on how to load this loading bar with rest call so that when i load any component it should ?

[2017-06-26 08:32] NGorco commented on #52
You should create custom Http service (actually, a wrapper around basic Http) and use it everywhere. On each put/get/post etc fire progress bar loading.

[2017-07-06 01:09] zishanj opened #53 "Calling progress method from jquery event"
I am trying to set `slimLoadingBarService.progress` from jQuery plugin `imagesLoaded` event but its not updating the progress until it finishes that event. Is there any way to set this progress value from outside angular and refreshes the loading bar immediately without any delay?

[2017-07-06 10:47] SlimDogs commented on #48
Hey, well it's too complex. It wasn't the issue with the plugin itself - it's issue with the architecture... To resolve this I recommend to use setTimeout(() => { <ng-slim-loading-bar update logic goes here> });

[2017-07-21 15:30] JiahaoLi commented on #29
Have the same issue. After making couple of tries, I found to add resolve in routing for view page can avoid this issue. And also wait for PR for this issue.

[2017-07-23 20:44] ssljivic opened #57 "When changeDetection is ChangeDetectionStrategy.OnPush component is not working"
**I'm submitting a ...**
[code]

**Current behavior**
When used in inside a component with `changeDetection: ChangeDetectionStrategy.OnPush` loading bar does not work.

**Reproduction of the problem**
Place `<ng2-slim-loading-bar></ng2-slim-loading-bar>` inside a template of a component with `changeDetection: ChangeDetectionStrategy.OnPush`. Try start() - progress is updated, but component view is

[2017-07-23 21:37] ssljivic commented on #57
@akserg any chance this PR can be merged and new release created soon?

[2017-07-26 08:06] werts commented on #48
@SlimDogs Your advise seems not working for me, i get the error again.I try to close the slim-bar after child component created.So i face the same error.

[2017-07-28 18:09] angelayanpan commented on #52
In the most recent release of Angular 4.3, there is a functionality called HTTP interceptor. And you can use it for HTTP call progress tracking. Here is a link to the official doc: https://angular.io/guide/http#intercepting-all-requests-or-responses

[2017-08-09 14:55] reinaldoferreira commented on #48
I'm also facing the same problem...
Yes, if I add setTimeout() it fixes the issue but that shouldn't be the best solution. :(

[2017-08-26 21:48] daniel-seitz commented on #15
Also when multiple simultaneous requests are made, the bar gets confused about start and finish. Interesting would be to check if the bar is already running / has open requests.

[2017-08-26 21:52] daniel-seitz commented on #15
Also the new '@angular/common/http' might provide some better options like interceptors to realize this.

[2017-09-10 20:21] stuartaccent commented on #52
This may or may not be perfect but if It helps anyone based on angular 4.3, a recent example of this I had to do myself was:

[code]

Then in your `app.module.ts`:

[code]

Stu

[2017-09-27 07:09] ryan-ds17 opened #60 "Call loader from anywhere"
**I'm submitting a
[code]

Is it possible for the loading bar component to be in the parent while I call the start and complete methods from the child component?

[2017-10-31 22:11] enjoythelive1 opened #61 "Bar completes before it is asked to complete"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
After 50 seconds, the bar completes, even thought it wasn't asked to stop

**Expected/desired behavior**
It should decrease the rate of change of the bar until completed. It should be able to be showing (and "growing") for an indefinite amount of time (see youtube slim loading bar)

* **ng2-slim-loading-bar version:** 4.0.

[2017-10-31 22:12] enjoythelive1 commented on #61
I am going to fix it (I made an external solution)

[2017-11-08 09:41] ghost opened #63 "Refactor setInterval to Observable.interval"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
Intervals are executed using `setInterval()`.

**Expected/desired behavior**
Intervals use RxJS `Observable.interval()`.

**What is the motivation / use case for changing the behavior?**
It's best practice. Also, `Subscription` is a more "Angular way" and can be used to terminate the interval.

[2017-11-20 14:28] lomboboo opened #64 "Angular Universal compile error"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
Currently it is not possible to use this package with Angular Universal Server Side Rendering. During compiling I'm getting error:
[code]

**Expected/desired behavior**
Make Angular Universal "friendly"

I also tried to compile whole ng2-slim-loading-bar package into 2015 with babel, but it didn't work.

* **ng2-slim-loadi

[2017-12-02 00:15] aniliht opened #65 "Angular 5 support."
I'm submitting a ... (check one with "x")

[ ] bug report => check the FAQ and search github for a similar issue or PR before submitting
[ ] support request => check the FAQ and search github for a similar issue before submitting
[x ] feature request

The package seems to be working fine with Angular 5.   Can you could just update the dependencies so that npm shrinkwrap won't complain?  Thank you.

[2017-12-04 16:33] aniliht commented on #65
Here is the output I receive from npm shrinkwrap that may be helpful:

npm ERR! Windows_NT 10.0.15063
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Users\\Developer\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js" "shrinkwrap"
npm ERR! node v6.11.3
npm ERR! npm  v4.2.0

npm ERR! Problems were encountered
npm ERR! Please correct and try again.
npm ERR! peer invalid: `@angular/

[2017-12-27 15:22] BernardoMB opened #66 "Loading bar height"
Is there anyway I set the height of the loading bar with '6%' instead of '6px'?

[2018-01-26 13:25] tigredonorte commented on #65
i need this upgrade too.

[2018-01-27 13:54] christianulson commented on #65
me too

[2018-02-20 15:01] RuiEEE commented on #65
me three

[2018-03-02 05:19] fengerzh commented on #65
please

[2018-03-08 15:49] rafalkasa commented on #65
When do you plan to release the angular 5 version ?

[2018-03-21 17:29] hikirsch commented on #65
i would volunteer to do this upgrade if i can get some sort of acknowledge from a maintainer prior just in case someone else hasn't started

[2018-03-22 01:28] fengerzh commented on #65
@hikirsch You can fork it and just try to upgrade to Angular 5 and see if there is any problem. If no problem, you can raise a PR in your fork.

[2018-04-02 10:54] greatkeke commented on #64
Hi, there
I got another error:
[code]

[2018-04-24 12:27] robvaneck commented on #65
im also getting a
[code]
when doing npm install.. please update :)

[2018-04-24 12:30] hikirsch commented on #65
oh crap this is my bad, i completely forgot i volunteered to do this and i definitely still want to fix this. we just pushed our release out a couple of days ago so i have time now to do this in the next day. stay tuned.

[2018-04-25 01:36] fengerzh commented on #65
Well, actually I've abandon this package, as it seems nobody will maintain it. There are tons of other packages in Github can do the loading bar things, no need to stick to this one.

[2018-05-12 14:43] hikirsch commented on #65
so ya this actually became a little bit more complicated because of how old some packages are in this repo - i agree with @fengerzh, best to probably switch at this point since there are many others. i am chosing https://aitboudad.github.io/ngx-loading-bar/

[2018-05-13 12:06] shootermv opened #67 "angular6 support"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
when installling on angular6 getting  compilation error : 'Observable is not a member of rxjs/Observable' or 'Subject  is not a member of rxjs/Observable '

**Expected/desired behavior**
No errors should be

**Reproduction of the problem**
Create project with recent @angular/cli@6.0.0
Install the ng2-slim-loading-bar
run "

[2018-05-24 17:01] imranmomin commented on #67
@shootermv created a PR for the issue. Until it gets accepted, you can use
`npm install --save rxjs-compat` which support old import statements

https://www.npmjs.com/package/rxjs-compat

[2018-06-08 09:02] YoeriVD commented on #67
+1

[2018-06-14 14:58] alexandredavi commented on #67
+1

[2018-06-20 16:31] Sesa1988 commented on #67
its only a temporary solution and the compat package will be deprecated in angular 7

[2018-08-14 14:03] devakone commented on #67
Any updates to work with 6 yet?

[2018-08-14 18:07] GarrettMontague opened #69 ".."
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

**Expected/desired behavior**

**Reproduction of the problem**
If the current behavior is a bug or you can illustrate your feature request better with an example, please provide the steps to reproduce and if possible a minimal demo of the problem via https://plnkr.co or similar.

**What is the expected behavior?**

**What

[2018-09-03 08:16] robvaneck commented on #67
+1 (will use another plug-in if angular / rxjs 6 is not supported yet)

[2018-09-13 17:48] pawanaraballi commented on #67
Any updates on Angular 6 support?

[2018-10-31 16:36] rahul230691 commented on #67
Any updates with Angular 6 support? I am getting below exception on compile time.

ERROR in node_modules/ng2-slim-loading-bar/src/slim-loading-bar.service.d.ts(1,10): error TS2305: Module '"../node_modules/rxjs/Observable"' has no exported member 'Observable'.
node_modules/rxjs/Observable.d.ts(1,15): error TS2307: Cannot find module 'rxjs-compat/Observable'.

Any help much appreciated

[2019-07-05 10:57] devs4522 commented on #67
@imranmomin  Is angular 6 support completed ? Still getting compilation error : 'Observable is not a member of rxjs/Observable' or 'Subject is not a member of rxjs/Observable '.

Please provide an update- so that i can decide whether i should use this or not.

[2021-02-03 23:59] #65 closed, assigned to nobody